// remove if you want to use your own css framework
@import '~milligram/dist/milligram.min.css';

body {
  margin: 50px 12px 0 12px;
  text-align: center
}
hr {
  border-color: #555
}
a {
  margin: 8px
}
#header, #view {
  margin: 0 auto;
  width: 100%;
  max-width: 600px
}
#header {
  max-width: 850px
}
